<%= stylesheet_link_tag    "modern.css" %>
<%= stylesheet_link_tag    "my.css" %>

<%= form_tag sessions_path do  %>


        <div class="span6" style="margin: 5% auto">
            <div class="grid">

                <div class="row">
                    <h2>E-mail</h2>
                    <div class="span4" id="centered">
                            <div class="input-control-text">
                                 <%= text_field_tag :email, params[:email],:placeholder => "Ваша электронная почта" %>
                            </div>
                    </div>
                </div>

                <div class="row">
                    <br>
                    <h2>Пароль</h2>
                    <div class="span4" id="centered">
                            <div class="input-control-text">
                               <%= password_field_tag :password_digest, params[:password_digest],:placeholder => "Введите пароль" %>
                            </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 15px">
                    <div class="span4" id="centered">
                        <br><br>
                         <%= submit_tag "Войти"%>
                    </div>
                </div>
            </div>
        </div>

 <% end %>