<%= form_for :user, :url => { :action => :create } do |f| %>

<%= stylesheet_link_tag    "modern.css" %>
<%= stylesheet_link_tag    "my.css" %>

<div class="span6" style="margin: 5% auto">
            <%= f.error_messages %>
            <div class="grid">
                <div class="row">
                    <h2>E-mail</h2>
                    <div class="span2" id="centered">
                            <div class="input-control-text">
                                <%= f.text_field :email,:placeholder => "Ваша электронная почта" %>
                            </div>
                    </div>
                </div>

                <div class="row">
                    <br>
                    <h2>Пароль</h2>
                    <div class="span4" id="centered">
                            <div class="input-control-text">
                                <%= f.password_field :password, :placeholder => "Введите пароль" %>
                                <br>
                                <%= f.password_field :password_confirmation, :placeholder => "Подтвердите Пароль" %>
                            </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 15px">
                    <div class="span4" id="centered">
                        <br><br>
                        <%= f.submit %>
                    </div>
                </div>
            </div>
        </div>

<% end %>