




	<div class="page">
            <div class="page-header-content">

            	<div class="logospace">
            		<div class="image-container " id="logo" style="background-color:white;width:300px;">
                        <%= image_tag "logo.png" %>
        				<h2 style="margin-left:12%">Hipster technologues</h2>
    				</div>
    			</div>

    			<div id="menu">
        			<div class="image-container place-left"  style="background-color:white;margin-left:13%;">
            		 	<%= image_tag "home.png" %>       		 
        			</div>

        			<div class="image-container place-left"  style="background-color:white;padding-right:0px">
        				<%= link_to image_tag("registration.png"), :controller => :registration %>
        			</div>

        			<div class="image-container place-left"  style="background-color:white;padding-right:0px">
        				<%= image_tag "about.png" %>
        			</div>
        		</div>

 			</div>

    </div>           

    <div class="span9" style="margin:auto">
 	
        <div class="carousel" data-role="carousel"  data-param-markers="off" style="height:400px">
        <div class="slides">
            <div class="slide image" id="slide1">
                <%= image_tag "slide1.png" %>
            </div>
 
            <div class="slide image" id="slide2">
                <%= image_tag "slide2.png" %>
            </div>

        </div>
 

    	</div>
	</div>



                <%= if session[:user_id] == nil 
                 render "log"
                 elsif session[:user_id] == 22
                render "adm"
                 else render "acc" 
                 end %>


