<%= stylesheet_link_tag "bootstrap.css" %>

<%= render "layouts/menu" %>

<div class="span11" style="margin-right:13%;margin-left:4%">
<table class="table table-bordered table-hover">
  <tr>
  	<th>Название</th>
  	<th>Тип</th>
  	<th></th>
  	<th></th>
  </tr>

<% for file in @files %>
<tr>
 <td><%= file  %></td>
 <td><%= if File.file?(file)
  else puts "Файл" 
  end %>
 </td>
 <td><%= link_to "Удалить", :action => :delete_file, :name => file %></td>
 <td><%= link_to "Загрузить", :action => :download_file, :name => file %></td>
</tr>
<br>
<% end %>
</table>
</div>