<!DOCTYPE html>
<html>
<head>
  <title>Cloud service</title>
<%= javascript_include_tag 'bootstrap.js' %>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag 'jquery-1.9.1.min.js' %>
<%= javascript_include_tag 'slider.js' %>
<%= javascript_include_tag 'carousel.js' %>
<%= javascript_include_tag 'dropdown.js' %>
<%= stylesheet_link_tag    "application" %>
<%= stylesheet_link_tag    "modern.css" %>
<%= stylesheet_link_tag    "my.css" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
